<app-header mode="main"></app-header>

<ion-content>
  <div style="padding: 16px;">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Library Name</ion-label>
        <ion-input [(ngModel)]="name" placeholder="e.g. Vikas Library"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">City</ion-label>
        <ion-input [(ngModel)]="city" placeholder="e.g. Pune"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Total Seats</ion-label>
        <ion-input type="number" [(ngModel)]="totalSeats" min="1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Monthly Fee (INR)</ion-label>
        <ion-input type="number" [(ngModel)]="monthlyFee" min="0"></ion-input>
      </ion-item>

    </ion-list>

    <div style="margin-top: 10px;">
      <small style="color:#637898; font-weight:700;">Library Photo (optional)</small>
      <input type="file" accept="image/*" (change)="onLibraryPhotoSelected($event)" />
    </div>

    <ion-button expand="block" (click)="onSubmit()" [disabled]="isSaving" style="margin-top: 18px;">
      <ion-spinner *ngIf="isSaving" name="crescent" slot="start"></ion-spinner>
      <span *ngIf="!isSaving">Create Library</span>
      <span *ngIf="isSaving">Creating...</span>
    </ion-button>
  </div>
</ion-content>

